<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32169915722-792360f1ckforqae652r7ed8g3ofbige.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32169915722-792360f1ckforqae652r7ed8g3ofbige</string>
	<key>API_KEY</key>
	<string>AIzaSyCk-HRHPa9eBrI_8AppVpUhdA6U3DBIal8</string>
	<key>GCM_SENDER_ID</key>
	<string>32169915722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JustinCasler.Hive</string>
	<key>PROJECT_ID</key>
	<string>hive-13fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>hive-13fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32169915722:ios:5f4230d96442893e1b7db3</string>
</dict>
</plist>